.cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .card{
        display: flex;
        padding: 20px;
        align-items: start;
        .imgCard{
            background-color: rgba(207, 207, 207, 0.322);
            img{
                object-fit: cover;
            }
        }
        .infoCard{
            padding-left: 20px;
            text-align: start;
            padding: 20px;
            font-family: 'Lucida Fax';
            h1{
                padding-bottom: 10px;
            }
            h4{
                color: rgb(134, 134, 134);
            }
            button{
                margin-top: 30px;
                padding: 10px;
            }
        }
    }
}