.cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    .card{
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        .imgCard{
            border-right: 1px solid black;
            img{
                object-fit: cover;
            }
        }
        .infoCard{
            padding-left: 20px;
            text-align: center;
            padding: 5px;
            font-family: 'Good Times ';
            button{
                margin-top: 30px;
                padding: 10px;
            }
        }
    }
}