.nav_container{
    display: flex;
    justify-content: space-between;
    .logo{
        padding-left: 20px;
        img{
            height: 8vh;
        }
    }
    .nav_list{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        width: 60%;
        li{
            margin-top: 20px;
            a{
                font-size: 20px;
                font-family:'Consolas';
                text-decoration: none;
                color: #007de2;
            }
        }
    }
}